{% extends "base.html" %}
{% load static %}
{% block title %}Shop{% endblock title %}
{% block content %}
		<!-- Start Hero Section -->
		<div class="hero">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-5">
						<div class="intro-excerpt">
							<h1>Modern Interior <span clsas="d-block">Home Decorator</span></h1>
							
						</div>
					</div>
					<div class="col-lg-7">
						<div class="hero-img-wrap">
							<img src="{% static "images/couch.png" %}" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Hero Section -->

		

		<div class="untree_co-section product-section before-footer-section">
		    <div class="container">
		      	<div class="row">

		      		<!-- Start Column 1 -->
					{% for s in shop_item %}
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="{% url "product_details" s.id %}">
							<img src="{{ s.img.url }}" class="img-fluid product-thumbnail" style="width: 261px; height: 261px;">
							<h3 class="product-title">{{s.name}}</h3>
							<strong class="product-price">৳{{s.price}}</strong>
							<span class="icon-cross">
								<img src="{% static "images/cross.svg" %}" class="img-fluid">
							</span>
						</a>
						
					</div> 
					{% endfor %}
					<!-- End Column 1 -->
						
					<!-- Start Column 2 -->
					
					<!-- End Column 4 -->

		      	</div>
		    </div>
		</div>

		{% endblock content %}
		